* {
    font-family: 'montserrat', sans-serif;
    padding: 0;
    margin: 0;   
}

body {
    
    background-image: url('city.png');
    align-content: center;
    justify-content: center;
    background-attachment: fixed;  
    background-size: cover;
    max-width: 2000px;
    margin: auto;
    height: fit-content;
}

.header {
    overflow: hidden;
    background-color: rgba(27, 113, 170, 0.6);
    padding: 20px 10px;
}

.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    line-height: 25px;
    border-radius: 4px;
    cursor: pointer;
}

.header a.logo {
    font-size: 50px;
    font-weight: bold;
}

.header a:hover {
    background-color: rgba(38, 91, 126, 0.6);
}






/* Search menu */

.search-menu > p {
    color: white;
    text-shadow: 0 0 0.40em #4b4b4b;
    text-align: center;
    font-size: 40px;
    font-family: 'montserrat', sans-serif;
    padding-top: 35px;
    padding-bottom: 20px;
}

.search-menu {
    display: block;
    background-color: rgba(27, 113, 170, 0.6);
    height: 300px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2%;
    border-radius: 5px;
    justify-self: center;
    align-self: center;
    justify-content: center;
}

.search-bar .search-box {
    font-size: 20px;
    border-radius: 5px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: 50%;
    margin-left: 25%;
    align-self: center;
}






/* City, date, time and weather results */

main {
    flex: 1 1 100%;
    flex-direction: column;
    padding: 25px 25px 50px;
    display: flex;
    align-items: center;
    text-align: center;
}

.weather-segment {
    color: white;
    display: none;
    background-color: rgba(27, 113, 170, 0.6);
    text-shadow: 0 0 0.40em #4b4b4b;
    height: 300px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2%;
    border-radius: 5px;
    justify-self: center;
    align-self: center;
    justify-content: center;
}

.location .city {
    color: white;
    text-shadow: 0 0 0.40em #4b4b4b;
    font-size: 70px;
}

.location .date {
    color: white;
    text-shadow: 0 0 0.40em #4b4b4b;
    font-size: 50px;
}

.location .temp {
    font-size: 80px;
    font-weight: 900;
    margin: 30px 0px;
}

.current .temp span {
    font-weight: 500;
}

.location .weather {
    font-size: 40px;
}

#cond-img {
    width: 120px;
    font-size: 200px;
}




/* Checkboxes */


.search-menu .checkboxes {
    padding-bottom: 2%;
    margin-left: 35%;
    font-size: 20px;
    margin-top: 5%;
}

.weatherLbl {
    color: white;
    text-shadow: 0 0 0.40em #4b4b4b;
}

.attractionsLbl {
    color: white;
    text-shadow: 0 0 0.40em #4b4b4b;
}

.alphaLbl {
    color: white;
    text-shadow: 0 0 0.40em #4b4b4b;
    
}









/* Attraction results */

#attractions-title {
    font-size: 48px;
}

.attraction-segment {
    display: none;
}


.attractions {
    display: flex;
    grid-template-columns: 5% 30% 30% 30% 5%;
    grid-template-rows: 200px auto;
}


.attraction-box {
    display: block;
    background-color: rgba(27, 113, 170, 0.6);
    justify-self: center;
    align-self: center;
    justify-content: center;
    border-radius: 5px;
    width: 400px;
    height: 200px;
    padding: 10px;
    margin: 30px;
}

.attraction-box h3 {
    color: white;
    text-shadow: 0 0 0.40em #4b4b4b;
    margin: 0;
    width: 400px;
    font-size: 36px;
    padding: 3px 3px 3px 3px;
}

.attraction-box p {
    color: white;
    text-shadow: 0 0 0.40em #4b4b4b;
    font-size: 26px;
    padding: 10px;
    margin: auto;
}


