* {
    font-family: 'montserrat', sans-serif;
    padding: 0;
    margin: 0; 

}

body {
    background-image: url('city.png');
    background-attachment: fixed;  
    background-size: cover;
    max-width: 2000px;
    height: fit-content;
    
}

.header {
    overflow: hidden;
    padding: 20px 10px;

}

.header a {
    color: white;
    padding: 12px;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    line-height: 25px;
    
}

.header a.logo {
    font-size: 50px;
    font-weight: bold;

    
}

.header a:hover {
    background-color: rgba(38, 91, 126, 0.6);
    border-radius: 5px;

}






/* Search menu */

.search-menu > p {
    color: white;
    text-shadow: 0 0 0.40em #4b4b4b;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: 'montserrat', sans-serif;
    padding-top: 35px;
    padding-bottom: 20px;
    
}

.search-menu {
    display: block;
    background-color: rgba(27, 113, 170, 0.6);
    height: 300px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2%;
    border-radius: 5px;
    
}

.search-bar .search-box {
    font-size: 20px;
    border-radius: 5px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: 50%;
    margin-left: 25%;
    align-self: center;
    
}


/* City, date, time and weather results */

main {
    flex: 1 1 100%;
    flex-direction: column;
    padding: 25px 25px 50px;
    display: flex;
    align-items: center;
    text-align: center;
    
}

.weather-segment {
    display: none;
    background-color: rgba(27, 113, 170, 0.6);
    border-radius: 5px;
    color: white;
    text-shadow: 0 0 0.40em #4b4b4b;
    height: 300px;
    margin-top: 2px;
    
}

.location .city {
    padding-top: 50px;
    color: white;
    text-shadow: 0 0 0.40em #4b4b4b;
    font-size: 70px;
    font-weight: bold;
    
}

.location .date {
    
    color: white;
    text-shadow: 0 0 0.40em #4b4b4b;
    font-size: 50px;
    font-weight: bold;
    
}

.location .temp {
    font-size: 80px;
    font-weight: 900;
    margin: 30px 0px;
    
}

.location .weather {
    font-size: 40px;
    font-weight: bold;
    
}

#cond-img {
    width: 120px;
    font-size: 200px;
    
}




/* Checkboxes */

.search-menu .checkboxes {
    padding-bottom: 2%;
    margin-left: 35%;
    font-size: 20px;
    margin-top: 5%;

}

.weatherLbl {
    color: white;
    text-shadow: 0 0 0.40em #4b4b4b;
    padding-left: 10px;

}

.attractionsLbl {
    color: white;
    text-shadow: 0 0 0.40em #4b4b4b;
    padding-left: 10px;

}




/* Attraction results */

#attractions-title {
    font-size: 48px;
    
}

.attraction-segment {
    display: none;
    
}


.attractions {
    display: flex;
    
}


.attraction-box {
    background-color: rgba(27, 113, 170, 0.6);
    border-radius: 5px;
    width: 400px;
    height: 200px;
    padding: 10px;
    margin: 30px;
    
}

.attraction-box h3 {
    color: white;
    text-shadow: 0 0 0.40em #4b4b4b;
    width: 400px;
    font-size: 36px;
    
}

.attraction-box p {
    color: white;
    text-shadow: 0 0 0.40em #4b4b4b;
    font-size: 26px;
    padding: 10px;
    margin: auto;
    
}


