* {
    padding: 0;
    margin: 0;
}

.header {
    background-color: blue;
    color: white;
    border: 5px blue;
    height: 50px;
    margin: auto;
    padding: 25px;
}

.search-menu {
    background-color: skyblue;
    height: 200px;
}

.searchBox .search-bar {
    margin-left: 850px;
    
}

.search-menu .checkboxes {
    margin-left: 1600px;
    padding-top: 90px;
}



